.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #b4c8fa, #c7d1e0);
  height: calc(100% - 44px);
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 36px;
  text-align: center;
}

.parag {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 16px;
}

.list {
  margin-top: 10px;
  padding-left: 20px;
}

.listItem {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  padding: 6px;
  display: flex;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 8px;
  align-items: center;
}
.icon {
  width: 24px;
  height: 24px;
  color: #5a4ff3;
  display: block;
}
