.navigation {
  display: flex;
  padding: 0 16px;
  gap: 12px;
  align-items: center;
}
.linkItem {
  text-decoration: none;
  color: #7270f5;
  font-weight: bold;
  transition: box-shadow 0.8s ease-in-out;
}

.linkItem:hover {
  box-shadow: 0px 3px 3px rgba(30, 122, 110, 0.6);
}
.linkActive {
  color: rgb(2, 63, 33);
}
